@mixin size($width, $height: false){

    @if $height {
        width: $width;
        height: $height;
    }@else {
        width: $width;
        height: $width;
    }
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}